In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.__version__

'1.4.0'

In [3]:
#conda install --upgrade pandas

In [4]:
#conda update pandas

In [5]:
# import dataset
df = pd.read_csv('data/movies.csv')
df.head()

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4     5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

In [6]:
df.shape

(782, 5)

In [7]:
df.size

3910

In [8]:
# datatype of each column
df.dtypes

Rank       int64
Title     object
Studio    object
Gross     object
Year       int64
dtype: object

In [9]:
# indexing to get any 1 record
df.iloc[22]

Rank                                  23
Title     Transformers: Dark of the Moon
Studio                         Paramount
Gross                         $1,123.80
Year                                2011
Name: 22, dtype: object

In [10]:
df.loc[22]

Rank                                  23
Title     Transformers: Dark of the Moon
Studio                         Paramount
Gross                         $1,123.80
Year                                2011
Name: 22, dtype: object

In [11]:
df.loc[:22]

,Rank,Title,Studio,Gross,Year
0,1,Avengers: Endgame,Buena Vista,"$2,796.30",2019
1,2,Avatar,Fox,"$2,789.70",2009
2,3,Titanic,Paramount,"$2,187.50",1997
3,4,Star Wars: The Force Awakens,Buena Vista,"$2,068.20",2015
4,5,Avengers: Infinity War,Buena Vista,"$2,048.40",2018
5,6,Jurassic World,Universal,"$1,671.70",2015
6,7,Marvel's The Avengers,Buena Vista,"$1,518.80",2012
7,8,Furious 7,Universal,"$1,516.00",2015
8,9,Avengers: Age of Ultron,Buena Vista,"$1,405.40",2015
9,10,Black Panther,Buena Vista,"$1,346.90",2018
10,11,Harry Potter and the Deathly Hallows Part 2,Warner Brothers,"$1,341.70",2011
11,12,Star Wars: The Last Jedi,Buena Vista,"$1,332.50",2017
12,13,Jurassic World: Fallen Kingdom,Universal,"$1,309.50",2018
13,14,Frozen,Buena Vista,"$1,276.50",2013
14,15,Beauty and the Beast,Buena Vista,"$1,263.50",2017
15,16,Incredibles 2,Buena Vista,"$1,242.80",2018
16,17,The Fate of the Furious,Universal,"$1,236.00",2017
17,18,Iron Man 3,Buena Vista,"$1,214.80",2013
18,19,Minions,Universal,"$1,159.40",2015
19,20,Captain America: Civil War,Buena Vista,"$1,153.30",2016
20,21,Aquaman,Warner Brothers,"$1,148.00",2018
21,22,Captain Marvel,Buena Vista,"$1,128.30",2019
22,23,Transformers: Dark of the Moon,Paramount,"$1,123.80",2011

In [13]:
# extract with a label than number
#df.loc["Dark Knight"]

In [14]:
#df.iloc["Frozen"]

TypeError: Cannot index by location index with a non-integer key

In [15]:
#df.loc['Frozen']

KeyError: 'Frozen'

In [16]:
#df.loc["Star Wars: The Last Jedi"]

KeyError: 'Star Wars: The Last Jedi'

In [17]:
df.sort_values(by = "Year" , ascending = False).head()

,Rank,Title,Studio,Gross,Year
0,1,Avengers: Endgame,Buena Vista,"$2,796.30",2019
457,458,John Wick: Chapter 3 - Parabellum,Lionsgate,$304.70,2019
113,114,The Wandering Earth,China Film Corporation,$699.80,2019
197,198,Toy Story 4,Buena Vista,$519.80,2019
198,199,How to Train Your Dragon: The Hidden World,Universal,$519.80,2019

In [18]:
df.sort_values(by = "Year" , ascending = True).head()

     Rank               Title       Studio     Gross  Year
287   288  Gone with the Wind          MGM  $402.40   1939
539   540               Bambi          RKO  $267.40   1942
707   708      101 Dalmatians  Buena Vista  $215.90   1961
754   755     The Jungle Book  Buena Vista  $205.80   1967
603   604       The Godfather    Paramount  $245.10   1972

In [19]:
# sort by using 2 columns
df.sort_values(by = ["Gross", "Year"]).head(10)

,Rank,Title,Studio,Gross,Year
38,39,The Dark Knight,Warner Brothers,"$1,004.90",2008
37,38,The Hobbit: An Unexpected Journey,Warner Brothers,"$1,021.10",2012
36,37,Zootopia,Buena Vista,"$1,023.80",2016
35,36,Alice in Wonderland,Buena Vista,"$1,025.50",2010
34,35,Star Wars: Episode I - The Phantom Menace,Fox,"$1,027.00",1999
33,34,Finding Dory,Buena Vista,"$1,028.60",2016
32,33,Jurassic Park,Universal,"$1,029.50",1993
31,32,Despicable Me 3,Universal,"$1,034.80",2017
30,31,Pirates of the Caribbean: On Stranger Tides,Buena Vista,"$1,045.70",2011
29,30,Rogue One: A Star Wars Story,Buena Vista,"$1,056.10",2016

In [20]:
df.sort_values(by = ["Studio", "Year"]).head(10)

     Rank                     Title       Studio     Gross  Year
587   588   The Blair Witch Project      Artisan  $248.60   1999
707   708            101 Dalmatians  Buena Vista  $215.90   1961
754   755           The Jungle Book  Buena Vista  $205.80   1967
409   410   Who Framed Roger Rabbit  Buena Vista  $329.80   1988
635   636        Dead Poets Society  Buena Vista  $235.90   1989
678   679  Honey, I Shrunk the Kids  Buena Vista  $222.70   1989
737   738        The Little Mermaid  Buena Vista  $211.30   1989
233   234              Pretty Woman  Buena Vista  $463.40   1990
266   267      Beauty and the Beast  Buena Vista  $425.00   1991
203   204                   Aladdin  Buena Vista  $504.10   1992

In [21]:
# sort with alphabetical order
# it will sort based on Rank which is default indexing of the dataset!

df.sort_index().head()

   Rank                         Title       Studio       Gross  Year
0     1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1     2                        Avatar          Fox  $2,789.70   2009
2     3                       Titanic    Paramount  $2,187.50   1997
3     4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4     5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

In [22]:
df.dtypes

Rank       int64
Title     object
Studio    object
Gross     object
Year       int64
dtype: object

In [23]:
# find out which movie studio had the greatest number of highest-grossing films
df['Studio'].value_counts()

Warner Brothers           132
Buena Vista               125
Fox                       117
Universal                 109
Sony                       86
Paramount                  76
Dreamworks                 27
Lionsgate                  21
New Line                   16
MGM                        11
TriStar                    11
Miramax                    10
Weinstein                   6
Columbia                    5
WGUSA                       4
Polygram                    2
Orion                       2
SonR                        2
Dimension                   2
Vestron                     1
USA                         1
Lions                       1
Focus                       1
Rela.                       1
CL                          1
Pathe                       1
Artisan                     1
IFC                         1
GrtIndia                    1
RKO                         1
UTV                         1
FUN                         1
FR                          1
Newmarket                   1
China Film Corporation      1
HC                          1
Magn.                       1
Name: Studio, dtype: int64

In [24]:
# Filtering a column by one or more criteria

# films by only one studio

df[df["Studio"]=='Buena Vista']

     Rank                         Title       Studio       Gross  Year
0       1             Avengers: Endgame  Buena Vista  $2,796.30   2019
3       4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War  Buena Vista  $2,048.40   2018
6       7         Marvel's The Avengers  Buena Vista  $1,518.80   2012
8       9       Avengers: Age of Ultron  Buena Vista  $1,405.40   2015
..    ...                           ...          ...         ...   ...
744   745                  Tomorrowland  Buena Vista    $209.20   2015
754   755               The Jungle Book  Buena Vista    $205.80   1967
764   765                   King Arthur  Buena Vista    $203.60   2004
768   769                Need for Speed  Buena Vista    $203.30   2014
770   771                         Ponyo  Buena Vista    $202.40   2009

[125 rows x 5 columns]

In [33]:
# assigning it a variable for further operations

released_by_studio = ([df["Studio"]=='Buena Vista'])

In [36]:
released_by_studio

[0       True
 1      False
 2      False
 3       True
 4       True
        ...
 777    False
 778    False
 779    False
 780    False
 781    False
 Name: Studio, Length: 782, dtype: bool]

In [42]:
released_in_2015 = (df["Year"] == 2015) 
released_in_2015
# df[released_by_studio & released_in_2015]

0      False
1      False
2      False
3       True
4      False
       ...
777    False
778    False
779    False
780    False
781    False
Name: Year, Length: 782, dtype: bool

In [43]:
#df = df[released_by_studio & released_in_2015]

ValueError: setting an array element with a sequence.

In [44]:
has_dark_in_title = df.index.str.lower().str().contains("dark")

AttributeError: Can only use .str accessor with string values!